

/* custom css */
.navbar_bg{

  background: linear-gradient(#f00000,#dc281e);
  color: white;

}
.brand{

  color : white !important;
  font-weight: bold;
  text-transform: uppercase;

}
.footer{

  background: #904e95;
  height: 50px;

}
.simple_btn{

  background: #904e95;
  margin-top: 50px;
  margin-left: auto;

}
