

/* custom css */
.navbar_bg{

  background: #090909;
  color: white;

}
.brand{

  color : white !important;
  font-weight: bold;
  text-transform: uppercase;

}
.footer{

  background:#131313;
  height: 50px;

}
.simple_btn{

  background: #904e95;
  margin-top: 50px;
  margin-left: auto;

}
.graph_div
{
  margin: 0 auto !important;
  margin-left: 0 auto !important;
  
}